<div class="row" style="height:95%;">
  <div class="col-md-4 offset-md-4">

    <div class="btn-group btn-group-justified" role="group">
      <div class="btn-group" role="group">
        <button class="btn" [ngClass]="registered ? 'btn-primary':'btn-link'" (click)="toggle()">Sign in</button>
      </div>
      <div class="btn-group" role="group">
        <button class="btn" [ngClass]="!registered ? 'btn-primary':'btn-link'" (click)="toggle()">Sign up</button>
      </div>
    </div>
    <form #up="ngForm" (ngSubmit)="register(up)" *ngIf="!registered">
      <div class="form-group">
        <label for="firstform">First</label>
        <input type="text" class="form-control" id="firstform" placeholder="First" name="first" ngModel required #first="ngModel">
      </div>
      <div class="form-group">
        <label for="lastform">Last</label>
        <input type="text" class="form-control" id="lastform" placeholder="Last" name="last" ngModel required #last="ngModel">
      </div>
      <div class="form-group">
        <label for="emailform">Email</label>
        <input type="email" class="form-control" id="emailform" placeholder="Email" name="email" ngModel required #email="ngModel">
      </div>
      <div class="form-group">
        <label for="passwordform">Password</label>
        <input type="password" class="form-control" id="passwordform" placeholder="Password" name="password" ngModel required #password="ngModel">
      </div>
      <button type="submit" class="btn btn-primary">Sign up</button>
    </form>

    <form #in="ngForm" (ngSubmit)="authenticate(in)" *ngIf="registered">
      <div class="form-group">
        <label for="emailform">Email</label>
        <input type="email" class="form-control" id="emailform" placeholder="Email" name="email" ngModel required #email="ngModel">
      </div>
      <div class="form-group">
        <label for="passwordform">Password</label>
        <input type="password" class="form-control" id="passwordform" placeholder="Password" name="password" ngModel required #password="ngModel">
      </div>
      <button type="submit" class="btn btn-primary">Sign in</button>
    </form>

  </div>
</div>
