
<div class="row custm-view custm-bg-medium">
  <div class="row custm-toolbar custum-bg-light shadow-sm">

    <nav aria-label="breadcrumb" class="navbar navbar-expand-lg" style="width:100%; height: 2rem;">
      <div class="collapse navbar-collapse">
        <ol class="breadcrumb navbar-nav" >
        </ol>
        <!-- COMMAND -->
        <div class="custm-command" style="width:100%">
          <button class="custm-btn-circle-span shadow-sm rounded" (click)="addDico()"><span style="margin-left:0.5rem;">Add dico</span></button>
        </div>
        <!-- END COMMAND -->
      </div>
    </nav>

  </div>

  <!-- CONTENT -->
  <div class="container custm-content">
    <!-- TEXT CONTENT -->


  </div>
  <!-- END CONTENT -->

</div>
